%h1 Rater Joe
%p This is an application that will help consumers rate and review a service that they participated on and share it on social service. This will help other users read and ask questions and also comment reviews. This will make services become transparent. 

GO Rater Joe!
